@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.posts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: left;
  gap: 2rem;
  font-family: "Poppins", sans-serif;
}

.post__title {
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-inline: auto;
  }
}

@media screen and (max-width: 600px) {
  .posts {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    margin-inline: auto;
  }
}
